footer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 0 10px 0;
}

@media screen and (max-width: 992px) {
  footer {
    margin: 15px;
  }

  footer svg {
    width: 100%;
    margin-bottom: 20px;
  }
}
